/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
header{
  background: rgb(176,196,222);
  height: 30%;
}
body {
  text-align: center;
  background: lightblue;
}
.why {
  background: white;
  height: 15%;
  padding: 18% 29% 18% 29%;
  
}
.logo {
  text-align:center;
}
.box {
  background: lightgray;
  border: 2px solid black;
}

/******************************************
/* LAYOUT
/*******************************************/
.upperR {
  float: right;
}
footer {
  border-top: 3px solid black;
}
.lNav {
  float: left;
}
.button {
  float: right;
}
main {
  padding: 10% 5% 5% 5%;
}
.p1 {
  padding: 5% 6% 5% 6%;
}
.spanM {
  padding: 10% 0 0 0;
}
.box {
  background: lightgray;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
