/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
header{
  background: rgb(176,196,222);
  height: 30%;
}
body {
  text-align: center;
}
.why {
  background: white;
  height: 15%;
  padding: 10% 33% 10% 33%;
  
}


/******************************************
/* LAYOUT
/*******************************************/
.link {
  float: left;

}

.upperR{
  float: right;
}

.header{
  float: right;
}

.mainP{
  padding: 0 10px 0 10px;
}

.addOn {
  float:center;
}
.left{
  background: grey;
  float: left;
  padding: 10% 33% 10% 33%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
